@media screen and (max-width: 450px) {
    .mobileHeader {
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
        background-color: #d9d9d9;
        height: 50px;
    }
}

@media screen and (min-width: 451px) {
    .mobileHeader {
        display: none;
    }
}

.sidebarBtn {
    background: none;
    border: none;
}
